﻿@inherits LayoutComponentBase



<div class="main">
    <div class="top-row px-4">
        <h2 class="text-center"> Сервис по созданию мотивационных картинок</h2>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
