﻿@page "/"
@using BlazorInputFile
@using System.IO
@using System.Drawing;
@using GeneratorMotivatorLib

<div class="row">
    <div class="col-md-4">
        <EditForm Model="motivator" OnSubmit="Create">

        <div class="row form-group">
            <InputFile OnChange="HandleFileSelected" />
        </div>
        <div class="row form-group">
            <div class="col-6"><label>Основная запись</label></div>
            <div class="col-6"><input type="text" @bind="motivator.TextString" /></div>
        </div>
        <div class="row form-group">
            <div class="col-6"><label>Маленькая подпись</label></div>
            <div class="col-6"><input type="text" @bind="motivator.TextStringSmall" /></div>
        </div>
        <div class="row form-group">
            <div class="col-6"><label>Через фасад (true) или через "сервис"</label></div>
            <div class="col-6"><input type="checkbox" @bind="checkFacade" /></div>
        </div>
            <button type="submit" class="btn btn-primary">Создать Мотивирующий Мотиватор!</button>
        </EditForm>
        <div class="col-md-12">
            @if (file != null)
            {
                <p>Name: @file.Name</p>
                <p>Size in bytes: @file.Size</p>
                <p>Last modified date: @file.LastModified.ToShortDateString()</p>
                <p>Content type (not always supplied by the browser): @file.Type</p>
            }
        </div>
    </div>
    <div class="col-md-4">
        <h3 class="text-center"> Через компоновщик</h3>
        <div class="text-center">
            @if (motivator.Complete)
            {
                <img src="@img" asp-append-version="true" style="width:400px;height:400px" />
            }
        </div>
    </div>
    <div class="col-md-4">
        <h3 class="text-center"> Через фасад</h3>
        <div class="text-center">
            @if (FacadeComplite)
            {
                <img src="@imgFacade" asp-append-version="true" style="width:400px;height:400px" />
            }
        </div>
    </div>
</div>

@code {
    Motivator motivator = new Motivator();
    public bool checkFacade { get; set; }
    public bool FacadeComplite { get; set; } = false;
    IFileListEntry file;
    string img = "";
    string imgFacade = "";
    string imgName = "";
    string path = $"{Directory.GetCurrentDirectory()}{@"\wwwroot\images\"}";


    public void Create()
    {
        if (checkFacade)
        {
            FileExtention.SaveTempImage(motivator.BitmapImage, path + "temp.jpg");

            string filePath = FacadeMotivator.CreateMotivator(path + "temp.jpg", motivator.TextString, motivator.TextStringSmall);

            string FileName = filePath.Split(@"\").Last();
            imgFacade = "/images/" + FileName;
            FacadeComplite = true;
        }
        else
        {
            motivator.UpdateImage();
            motivator.Save(path);
            img = "/images/" + motivator.FullName;
        }

    }

    async Task HandleFileSelected(IFileListEntry[] files)
    {
        file = files.FirstOrDefault();

        using (MemoryStream ms = new MemoryStream())
        {
            //не прокатило
            //file.Data.CopyTo(ms);
            byte[] buffer = new byte[16 * file.Size];
            int read;
            while ((read = await file.Data.ReadAsync(buffer, 0, buffer.Length)) > 0)
            {
                ms.Write(buffer, 0, read);
            }
            motivator.BitmapImage = new Bitmap(ms);
        }
    }
}

